$colors: (
    font: #333,
    white: #fff,
    primary: #2b7bbc,
    secondary: #f0ab3a,
    light: #f6b94a,
    dark: #333,
    error: #b00020,
    success: #0b890b,
    primaryOnHover: #08529c,
    secondaryOnHover: #d2a300,
    errorOnHover: #870000,
    successOnHover: #1d7521,

    backgroundColor: #ddeeff,
    errorBackground: #eed6da,
    successBackground: #e4f1e4,
    info: #044f9b,
    infoBackground: #cfe1f1,
    warning: #af5e00,
    warningBackground: #e7d2b9,
);

$fonts: (
    body: "Nunito",
    header: "Montserrat",
);

$font-sizes: (
    xl: 20px,
    lg: 18px,
    md: 16px,
    sm: 14px,
    xs: 12px,
);

@function color($color-name) {
    @return map-get($colors, $color-name); //(name of map, key)
}

@function font($fonts-name) {
    @return map-get($fonts, $fonts-name); //(name of map, key)
}

@function size($size) {
    @return map-get($font-sizes, $size); //(name of map, key)
}
