@import "mixins";
@import "variables";

// Note, Materialize classes are kebab and all the classes below are camel case
// so you can distinguish its origin

// General HTML stuff
p {
    margin: 0;
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

h3 {
    font-weight: bold;
    text-transform: uppercase;
}
h1,
h2,
h3 {
    font-family: font(header);
}

body {
    font-size: size(lg);
    color: color(font);
    font-family: font(body);
}

strong {
    font-weight: 700;
}
// End of general HTML stuff

// Background color change
.wrapper {
    transition: background-color 0.3s ease-out;
}

.scrollColor {
    transition: color 0.3s ease-out;
}

.ombreBackground {
    background: linear-gradient(180deg, #48a0af 60%, #3386ba 120%);
    min-height: 100vh;
}
// End of background color change

// Colors
.primaryColor {
    background-color: color(primary) !important;
}

.secondaryColor {
    background-color: color(secondary) !important;
}

.primaryText {
    color: color(primary) !important;
}

.secondaryText {
    color: color(secondary) !important;
}

.fontText {
    color: color(font) !important;
}

.errorText {
    color: color(error) !important;
}

.successText {
    color: color(success) !important;
}

.colorBtn {
    font-weight: bold !important;
    text-align: center;
    text-transform: uppercase;
    color: color(font) !important;
    background-color: color(secondary) !important;

    &:hover {
        background-color: color(secondaryOnHover) !important;
    }
}

.redBtn {
    font-weight: bold !important;
    text-align: center;
    text-transform: uppercase;
    color: color(white) !important;
    background-color: color(error) !important;

    &:hover {
        background-color: color(errorOnHover) !important;
    }
}

.active {
    color: color(secondary);
}
// End of colors

// Formatting stuff
.flexColCenter {
    @include flexPosition($alIte: center, $dir: column);
}

.longText {
    padding-right: 200px;

    @include responsive(sm-down) {
        padding-right: 0;
    }
}

.hoverLink {
    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }
}

.rowMarginPadding {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 !important;
}

.formPadding {
    @include responsive(sm-down) {
        padding: 0 !important;
    }
}
// End of formatting stuff

// Navbar stuff
.logoNav {
    height: 100%;
    padding: 5px 0;
}

.logoNavSide {
    padding: 30px;
    height: 150px;

    a,
    img {
        height: 100% !important;
        padding: 0 !important;
        font-family: font(header);

        &:hover {
            background-color: transparent !important;
        }
    }
}

.navbar {
    position: sticky;
    top: 0;
    background-color: transparent;
    box-shadow: none;
    transition: background-color 200ms linear, top 200ms ease-in-out;
    z-index: 998;
    font-weight: 600;
    text-transform: uppercase;
}

.sidenav-trigger {
    margin-left: 0 !important;
}

.scrolled {
    background-color: rgba(66, 153, 178, 0.95);
    box-shadow: 2px -5px 8px rgba(0, 0, 0, 0.14), 0 -1px 10px -2px rgba(0, 0, 0, 0.12),
        0 -1px 15px 0 rgba(0, 0, 0, 0.2);
}

// Overwrite some Materialize so the the navbar can fit on one line
nav ul a {
    @media (max-width: 1080px) {
        font-size: 13.5px !important;
        padding: 0 12px !important;
    }
}
// End of navbar stuff

// Landing section
.landingImg {
    @include flexPosition($jusCon: center, $alIte: center);

    img,
    object {
        width: 100%;
    }

    @include responsive(md-down) {
        img,
        object {
            max-width: 300px;
        }
    }

    @include responsive(sm-down) {
        margin-top: 0;
    }
}

.landingBackground {
    background-image: url("../../images/landing-background.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center bottom;
    padding: 100px 0;
    margin-top: -64px;
    color: color(white);

    h1 {
        font-weight: 600;
    }
    h4,
    h5 {
        font-weight: 400;
    }
    h5 {
        font-family: font(header);
    }

    @include responsive(md-down) {
        padding: 60px 0 30px;
        background-image: url("../../images/landing-background-mobile.svg");
        h1 {
            font-size: 50px;
        }
        h4 {
            font-size: 25px;
        }
    }

    @include responsive(sm-down) {
        padding: 0 0 10px;
        margin-top: -56px;
        text-align: center;
        h1 {
            font-size: 40px;
        }
        h4 {
            font-size: 22px;
        }
        h5 {
            font-size: size(lg);
        }
    }
}

.definition {
    @include flexPosition($alIte: flex-start);
    padding: 5px 0 25px;
    &-shape {
        clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
        background-color: color(secondary);
        width: auto;
        border-radius: 100px 14px 100px 100px;
        padding: 2px 17px 2px 12px;
        font-size: 18px;
        font-size: size(lg);
        font-style: italic;
        color: color(font);
        font-weight: 700;
    }

    > p {
        font-weight: 400;
        margin: 4px 20px 0 15px;
        text-align: left !important;
    }

    @include responsive(sm-down) {
        padding: 5px 0 15px;
        &-shape {
            padding: 2px 17px 2px 12px;
            font-size: 16px;
        }
        > p {
            margin: 2.5px 0 2px 10px;
            font-size: 16px;
        }
    }
}
// End of landing section

// "About" section
#aboutText {
    p {
        margin: 20px 0;
    }
}
.countdown {
    @include flexPosition($jusCon: center, $alIte: center);

    &Days {
        margin-top: 20px;
        font-size: 30px;
    }

    &Num {
        width: 78px;
        height: 129px;
        border-radius: 10px;
        font-weight: bold;
        font-size: 106px;
        text-align: center;
        background-color: color(secondary);
        @include flexPosition($dir: column);
        margin: 0 5px;
        padding: 0 !important;
        font-family: font(header);
    }

    &WhiteLine {
        position: relative;
        top: 50%;
        width: 100%;
        border: 2px solid color(white);
    }
}

#day1,
#day2,
#day3 {
    margin: -20px 0 0;
}
// End of "About" section

// "Schedule" section
.schedule {
    margin: 10px 0 30px;

    h5 {
        font-family: font(header);
        font-weight: 500;
    }

    p {
        font-size: size(xl);
        margin: 0;
    }

    &Time {
        margin-right: 20px !important;
        font-weight: bold;
        white-space: nowrap;
    }

    &Row {
        display: flex;
        margin: 10px 0 25px;
        justify-content: center;
    }

    @include responsive(md-down) {
        p {
            font-size: size(lg);
        }
        &Time {
            width: 70px;
        }
    }
}
// End of "Schedule" section

// "Hackathon stats" section
.stat {
    @include flexPosition($alIte: center, $dir: column);
    &-number {
        margin: 10px 0;
        font-weight: 700;
    }

    @include responsive(sm-down) {
        margin-bottom: 25px;
    }
}
// End of "Hackathon stats" section

// "Sponsors" section
.sponsorImgs {
    margin-top: 50px;
    @include flexPosition($jusCon: center);

    img {
        width: 100%;
        padding: 0 20px;
        max-width: 600px;
    }
}
// End of "Sponsors" section

// "FAQ" section
.collapsible .active {
    color: inherit;
}

.active .collapsible-header {
    font-weight: bold;
}

.collapsible,
.collapsible-body,
.collapsible-header {
    border: none;
    box-shadow: none;
    margin: 0;
}
.collapsible-header {
    background-color: transparent;
}

// End of "FAQ" section

// Video section
.video {
    max-width: 1000px;
    width: 90%;
    height: 557px;

    // iframe heights are static so I have to set the height every time
    @include responsive(lg-down) {
        height: 400px;
    }

    @include responsive(md-down) {
        height: 360px;
    }

    @include responsive(sm-down) {
        height: 250px;
    }

    @include responsive(xs-down) {
        height: 200px;
    }
}
// End of video section

// Carousel section
.carousel {
    height: 333px !important;

    .carousel-item {
        opacity: 1 !important;
        height: 333px !important;

        > img {
            width: auto !important;
            height: 100%;
            transform: translateX(-120px);
        }
    }
}
// End of carousel section

// Footer section
.contactBtns {
    a {
        border-radius: 100%;
        height: 50px;
        width: 50px;
        margin: 10px 15px 20px;

        img {
            height: 100%;
            width: 100%;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}
// End of section

// Login stuff
.login {
    &Div {
        display: flex;
        background-color: color(white);
        border-top: solid 10px color(secondary);
        border-radius: 3px 3px 0 0;
        padding: 50px 30px 30px;
        margin: 50px auto 100px;
        max-width: 900px;

        @include responsive(md-down) {
            padding: 40px 15px 30px;
        }

        @include responsive(sm-down) {
            padding-bottom: 20px;
            display: block;
        }

        .landingImg img {
            max-width: 300px;
        }
    }

    &Link {
        @include flexPosition($jusCon: center, $alIte: center);
        margin: 10px 0 15px;
        font-size: size(sm);
        padding: 0 !important;

        i {
            margin-right: 5px;
        }
    }
}

.form {
    &H1 {
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        margin: 0 auto 30px;
        font-size: 50px;
    }

    &H2 {
        font-weight: normal;
        font-size: 30px;
        margin: 0 0 15px;
    }

    &H3 {
        font-weight: normal;
        font-size: 24px;
        text-transform: initial;
        margin: 0 0 10px;
    }

    @include responsive(md-down) {
        &H1 {
            font-size: 40px;
            margin-bottom: 20px;
        }
        &H2 {
            font-size: 24px;
        }
        &H3 {
            font-size: size(xl);
        }
    }

    &Checkbox span {
        color: color(font);
    }

    &FieldError {
        font-size: size(xs);
        color: color(error);
        display: block;
    }

    &Error {
        color: color(error);
        display: block;
    }
}

.input-field {
    input:not([type]):focus:not([readonly]) + label,
    input[type="text"]:focus:not([readonly]) + label,
    input[type="password"]:focus:not([readonly]) + label,
    input[type="email"]:focus:not([readonly]) + label,
    input[type="date"]:focus:not([readonly]) + label,
    input[type="tel"]:focus:not([readonly]) + label,
    input[type="number"]:focus:not([readonly]) + label,
    input[type="search"]:focus:not([readonly]) + label,
    textarea.materialize-textarea:focus:not([readonly]) + label {
        color: color(primary);
    }

    input:not([type]):focus:not([readonly]),
    input[type="text"]:focus:not([readonly]),
    input[type="password"]:focus:not([readonly]),
    input[type="email"]:focus:not([readonly]),
    input[type="date"]:focus:not([readonly]),
    input[type="tel"]:focus:not([readonly]),
    input[type="number"]:focus:not([readonly]),
    input[type="search"]:focus:not([readonly]),
    textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 1px solid color(primary);
        -webkit-box-shadow: 0 1px 0 0 color(primary);
        box-shadow: 0 1px 0 0 color(primary);
    }
}
// End of form stuff

// Dashboard stuff
.borderTopDiv {
    @include flexPosition($dir: column);
    background-color: color(white);
    border-top: solid 10px color(secondary);
    border-radius: 3px 3px 0 0;
    padding: 40px 30px 30px;
    margin: 20px auto;
    max-width: 950px;
    font-size: size(md);

    @include responsive(sm-down) {
        padding: 25px 20px;
    }
}

.faq {
    &Question {
        font-weight: bold;
        margin: 10px 0 0;
    }

    &Answer {
        margin: 5px 0 20px;
    }
}
// End of dashboard stuff
