{% extends "event/base.html" %}

{% block nav_background_color %}{% endblock %}

{% block head_extends %}
<script>
    const registrationOpenDate = new Date("{{ localtime(registration_open_date).strftime('%b %-d, %Y, %H:%M:%S') }}");
    const registrationCloseDate = new Date("{{ localtime(registration_close_date).strftime('%b %-d, %Y, %H:%M:%S') }}");
    const eventStartDate = new Date("{{ localtime(event_start_date).strftime('%b %-d, %Y, %H:%M:%S') }}");
</script>
{% endblock %}

{% block nav_links %}
    <li><a href="#about">About</a></li>
    <li><a href="#schedule">Schedule</a></li>
    <li><a href="#faq">FAQ</a></li>
    <li><a href="#sponsors">Sponsors</a></li>
    <li><a href="#contact">Contact</a></li>
    {% if request.user.is_authenticated %}
        <li><a href="{{ url("event:dashboard") }}">Dashboard</a></li>                     
    {% endif %}
{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="landingBackground">
        <div class="container">
            <div class="section row" id="landing">
                <div class="col container s12 m12 l7">
                    <h1 class="row header">MakeUofT 2023</h1>
                    <div class="row">
                        <h4 class="header s12">Canada's Largest Makeathon</h4>
                        <div class="definition">
                            <div class="definition-shape">
                                <p>Make·a·thon</p>
                            </div>
                            <p>a hackathon where hardware-based projects are manifested </p>
                        </div>
                    </div>
                    <div class="row">
                        <h5>University of Toronto</h5>
                        <h5>
                            {# Update this logic if your event ends in a different month or year #}
                            {{ localtime(event_start_date).strftime("%B %d") }}-{{ localtime(event_end_date).strftime("%d, %Y") }}
                        </h5>
                    </div>
                    <div class="row">
                        {% if request.user.is_authenticated %}
                            {% if application is none and is_registration_open() %}
                                <a href="{{ url("registration:application") }}" class="btn-large waves-effect waves-light colorBtn">Continue Application</a>
                            {% else %}
                                <a href="{{ url("event:dashboard") }}" class="btn-large waves-effect waves-light colorBtn">Go to Dashboard</a>
                            {% endif %}
                        {% elif is_registration_open() %}
                            <a href="{{ url("registration:signup") }}" class="btn-large waves-effect waves-light colorBtn">Apply</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col s12 m12 l5 landingImg">
                    <img src="{{ static('event/images/landing.svg') }}" alt="landing"/>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="container colorScroll" data-background-color="#fff">
        <div class="section scrollspy" id="about">
            <div class="row">
                <div class="col m12 l7" id="aboutText">
                    <h3 class="center">About us</h3>

                    <p class="center">
                        Join us at MakeUofT to transform your ideas into reality! This year, the themes for MakeUofT are: Health, Music, and Useless Inventions!
                    </p>
                    <p class="center">
                        Our in-person makeathon is designed for everyone to participate, from beginners to experts. To help facilitate your learning experience, we will have mentors available throughout the event to assist you! You will also be able to interact with some of the top companies in the industry through our networking booths.
                    </p>
                </div>

               <div class="col m12 l5 flexColCenter" id="countdown">
                    <h3 class="center" id="countdownTitle"></h3>
                    <div class="countdown">
                        <div class="col countdownNum">
                            <div class="countdownWhiteLine"></div>
                            <p id="day1"></p>
                        </div>
                        <div class="col countdownNum">
                            <div class="countdownWhiteLine"></div>
                            <p id="day2"></p>
                        </div>
                        <div class="col countdownNum">
                            <div class="countdownWhiteLine"></div>
                            <p id="day3"></p>
                        </div>
                    </div>
                    <div class="col center countdownDays" id="countdownUnit">Days</div>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br />

    <div class="container colorScroll" data-background-color="#035E8A">
        <div class="section scrollspy" id="schedule">
            <div class="row schedule">
                <div class="m12 center">
                    <h3 class="center">Schedule</h3>
                </div>
                <div class="col s12 m6 l6">
                    <h5 class="center">Making Begin</h5>

                    <div class="scheduleRow">
                        <p class="scheduleTime">12PM</p>
                        <p>Saturday, February 18th, 2023</p>
                    </div>
                </div>



                <div class="col s12 m6 l6">
                    <h5 class="center">Dinner</h5>

                    <div class="scheduleRow">
                        <p class="scheduleTime">6PM</p>
                        <p>Saturday, February 18th, 2023</p>
                    </div>
                </div>





                <div class="col s12 m6 l6">
                    <h5 class="center">Hacking Ends</h5>

                    <div class="scheduleRow center">
                        <p class="scheduleTime">12PM</p>
                        <p>Sunday, February 19th, 2023</p>
                    </div>
                </div>
            </div>
            <div class="m12 center">
                <a href="https://docs.google.com/document/d/1MvPu_l7KAcozlJvGvQEHtm9BiwUGTLdrf291OvWECbw" class="btn-large waves-effect waves-light colorBtn" rel="noopener" target="_blank">Full schedule</a>
            </div>
        </div>
    </div>
    <br /><br /><br />

    <div class="container colorScroll" data-background-color="#003650">
        <div class="section scrollspy" id="faq">
            <div class="row">
                <div class="col s12 m12 center">
                    <h3 class="center">FAQ</h3>
                </div>
                <div class="col s12 m6">
                    <ul class="collapsible expandable">
                        <li>
                            <div class="collapsible-header">
                                What is a makeathon?
                            </div>
                            <div class="collapsible-body">
                                <span>
                                    A makeathon is like a hackathon but more hands-on. It involves the integration of hardware and software to build a working device that could be used in any application from gaming to solving a real life problem! As such, we require all participants to build some sort of physical device that is at the very least electrically powered or computer programmed.
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                                What if I have no experience? Can I still come?
                            </div>
                            <div class="collapsible-body">
                                <span>
                                    Yes! MakeUofT is for everyone, from beginners to veterans. You will have the opportunity to learn technical skills from industry mentors. Also, if you ever get stuck on your project just ask one of the mentors!
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                                Will we receive hardware for the project?
                            </div>
                            <div class="collapsible-body">
                                <span>
                                    Yes! Once you are accepted, each team will be able to select and sign out a wide range of hardware on our Hardware Signout Site <a href="https://hardware.makeuoft.ca" target="_blank">hardware.makeuoft.ca</a>.
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                                How do I apply with a team? 
                            </div>
                            <div class="collapsible-body">
                                <span>
                                    You only need to fill out your individual application, receive an acceptance, and form a team with other accepted hackers. Teams are not required in advance; you're welcome to form a team with other hackers on the first day of the event! When you demo, you will provide the names of all of your team members. 
                                </span>
                            </div>
                        </li>

                    </ul>
                </div>

                <div class="col s12 m6">
                    <ul class="collapsible">

                        <li>
                            <div class="collapsible-header">
                                Who can apply? When is the deadline to apply?
                            </div>
                            <div class="collapsible-body">
                                <span>
                                    We’re welcoming any students of age 18 or over pursuing post-secondary education! Applications open on January 16th, 2023 and close at 17:00 PM EST on February 4th. Acceptances will be internally decided on a rolling basis, so apply early to maximize your chances of getting accepted!
                                </span>
                            </div>
                        </li>

                        <li>
                            <div class="collapsible-header">
                                What size of team is allowed?
                            </div>
                            <div class="collapsible-body">
                                <span>
                                    Feel free to make a team with 3 to 4 members, including yourself.
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                                When can I expect to hear back?
                            </div>
                            <div class="collapsible-body">
                                <span>
                                    Acceptances will be sent out on a rolling basis, so apply early! 
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                                Is the makeathon in-person?
                            </div>
                            <div class="collapsible-body">
                                <span>
                                    This year, MakeUofT will be fully in person. The event will be hosted at the University of Toronto St.George Campus in Myhal Centre for Engineering Innovation and Entrepreneurship (MY).
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br />

    <div class="container colorScroll" data-background-color="#F0AB3A">
        <div class="section">
            <div class="row">
                <div class="col m12">
                    <h3 class="center">2022 Hackathon stats</h3>
                </div>
            </div>
            <div class="row">
                <div class="stat col m3 s6">
                    <h4 class="stat-number">200</h4>
                    <h6 class="stat-type">Hackers</h6>
                </div>
                <div class="stat col m3 s6">
                    <h4 class="stat-number">48</h4>
                    <h6 class="stat-type">Projects</h6>
                </div>
                <div class="stat col m3 s6">
                    <h4 class="stat-number">$7500</h4>
                    <h6 class="stat-type">in Prizes</h6>
                </div>
                <div class="stat col m3 s6">
                    <h4 class="stat-number">5</h4>
                    <h6 class="stat-type">Sponsors</h6>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br />

    <div class="container section colorScroll" data-background-color="#EFCF5D">
        <div class="s12 m8 flexColCenter">
            <h3 class="center">Check out last year!</h3>
            <iframe class="video center" src="https://www.youtube.com/embed/KPeTfGlh9DE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <br /><br />
    </div>
    <br /><br /><br />

    <div class="carousel">
        <!-- IMAGES MUST ALL BE THE SAME SIZE -->
        <a class="carousel-item" ><img src="https://i.imgur.com/u9JEte7.jpg" alt="2020-image-1"/></a>
        <a class="carousel-item" ><img src="https://i.imgur.com/Y95LgjJ.jpg" alt="2020-image-2"/></a>
        <a class="carousel-item" ><img src="https://i.imgur.com/gkTya6z.jpg" alt="2020-image-3"/></a>
        <a class="carousel-item" ><img src="https://i.imgur.com/sV9kcJ0.jpg" alt="2020-image-4"/></a>
        <a class="carousel-item" ><img src="https://i.imgur.com/OphvNr1.jpg" alt="2020-image-5"/></a>
        <a class="carousel-item" ><img src="https://i.imgur.com/2l2xp7E.jpg" alt="2020-image-6"/></a>
        <a class="carousel-item" ><img src="https://i.imgur.com/jzCFrUA.jpg" alt="2020-image-7"/></a>
        <a class="carousel-item" ><img src="https://i.imgur.com/cchUGUe.jpg" alt="2020-image-8"/></a>
        <a class="carousel-item" ><img src="https://i.imgur.com/TbeTufj.jpg" alt="2020-image-9"/></a>
        <a class="carousel-item" ><img src="https://i.imgur.com/B4vfSWL.jpg" alt="2020-image-10"/></a>
        <a class="carousel-item" ><img src="https://i.imgur.com/iBbFyns.jpg" alt="2020-image-11"/></a>
        <a class="carousel-item" ><img src="https://i.imgur.com/pv6NmC4.jpg" alt="2020-image-12"/></a>
        <a class="carousel-item" ><img src="https://i.imgur.com/HjNbGhK.jpg" alt="2020-image-13"/></a>
        <a class="carousel-item" ><img src="https://i.imgur.com/U33ZyB2.jpg" alt="2020-image-14"/></a>
        <a class="carousel-item" ><img src="https://i.imgur.com/Ig49uvq.jpg" alt="2020-image-15"/></a>å
    </div>
</div>
<br /><br />

<div class="container">
    <div class="section scrollspy" id="sponsors">
        <div class="row">
            <h3 class="center">Sponsors</h3>
            <div class="row sponsorImgs">
                <img src="{{ static('event/images/sponsors.svg') }}" alt="One big sponsor image"/>
            </div>
            <p class="center">
                If you would like to sponsor us, feel free to reach out:
                <a href=mailto:{{ contact_email }}" class="hoverLink">{{ contact_email }}</a>
            </p>
        </div>
    </div>
</div>

<footer class="page-footer secondaryColor fontText">
    <div class="container scrollspy" id="contact">
        <h3 class="row center">Contact Us</h3>

        <div class="row center contactBtns">
            <a href="mailto:{{ contact_email }}" class="waves-effect waves-light" rel="noopener" target="_blank"><img src="{{ static('event/images/social/email.svg') }}" alt="Email" /></a>
            <a href="https://www.ieee.utoronto.ca" class="waves-effect waves-light" rel="noopener" target="_blank"><img src="{{ static('event/images/social/website.svg') }}" alt="ieee.utoronto.ca" /></a>
            <a href="https://www.facebook.com/makeuoft" class="waves-effect waves-light" rel="noopener" target="_blank"><img src="{{ static('event/images/social/facebook.svg') }}" alt="Facebook" /></a>
            <a href="https://www.instagram.com/ieee_uoft" class="waves-effect waves-light" rel="noopener" target="_blank"><img src="{{ static('event/images/social/instagram.svg') }}" alt="Instagram"/></a>
        </div>

        <p class="center">Need a platform for your hackathon? We're <a class="hoverLink" href="https://github.com/ieeeuoft/hackathon-template/" rel="noopener" target="_blank">open source</a>!</p>
    </div>
    <div class="footer-copyright center">
        <div class="container fontText">
            Copyright © {% if localtime(event_end_date).year > 2020 %}2020 -{% endif %}
            {{ localtime(event_end_date).strftime("%Y") }} IEEE University of Toronto Student Branch
        </div>
    </div>
</footer>
{% endblock %}

{% block scripts %}
<script src="{{ static('event/js/landing.js') }}"></script>
{% endblock %}
